
@{

}

<div class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'center',border:false" style="padding:2px;">
        <table>
            <tr>
                <td>默认后台主界面</td>
                <td></td>
            </tr>
        </table>
    </div>
    <div data-options="region:'south',border:false" style="height:80px;background:#eef8fe; padding:5px;">What News</div>
</div>
