
@{
    Layout = null;
    string pageId = ViewBag.pageId;
}

<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'west',split:true,title:'信息',href:'/ManagerUser/userInfo'" style="width: 300px; padding: 10px;"></div>
    <div data-options="region:'center',title:'日志'"></div>
</div>