<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Scripts/bootstrapValidator/bootstrapValidator.css" />
    <script src="~/Scripts/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrapValidator/bootstrapValidator.min.js"></script>
    <script src="~/Scripts/bootstrapValidator/language/zh_CN.js"></script>
    <script src="~/Scripts/usecode.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    @RenderBody()
</body>
</html>
